table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  table-layout: fixed;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  white-space: nowrap;
  overflow: hidden;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.table > thead > tr > th > a{
    color: #000;
    white-space: normal;
}
.table > thead > tr > th > a:hover{
    cursor: pointer;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #f2f2f2;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  float: none;
  display: table-cell;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eeeeee;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #688fcf;
  border-color: #688fcf;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../fonts/glyphicons-halflings-regular.eot');
  src: url('../../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
}
.glyphicon:empty {
  width: 1em;
}
.glyphicon-filter:before {
  content: "\e138";
}

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 0 dotted;
}
/* TODO: */
.caret.up {
  border-bottom: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 0 dotted;
}
/* form section */
.form-control {
  display: block;
  //width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 2px;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
}
.form-control:-moz-placeholder {
  color: #999999;
}
.form-control::-moz-placeholder {
  color: #999999;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline .form-control {
  display: inline-block;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.btn:focus {
  outline: none;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-primary {
  color: #b90005;
  background-color: #fff;
  border-color: #b90005;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #f44330;
  border-color: #b90005;
}
.btn-icon{
  font-size: 23px;
  padding: 2px 4px;
  line-height: 0;
  /* border: none; */
  /* color: black; */
  position: relative;
  top: 1px;
}
.btn-icon:hover{

}

/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  border-radius: 4px;
  /*.dow {
		border-top: 1px solid #ddd !important;
	}*/
}
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.datepicker > div {
  display: none;
}
.datepicker table {
  width: 100%;
  margin: 0;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}
.datepicker td {
  line-height: 1.1em;
}
.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.datepicker td.day.disabled {
  color: #eeeeee;
}
.datepicker td.old,
.datepicker td.new {
  color: #999999;
}
.datepicker td.active,
.datepicker td.active:hover {
  background: #688fcf;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
}
.datepicker td span:hover {
  background: #eeeeee;
}
.datepicker td span.active {
  background: #688fcf;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.old {
  color: #999999;
}
.datepicker th.switch {
  width: 145px;
}
.datepicker th.next,
.datepicker th.prev {
  font-size: 21px;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1060;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
@keyframes tool-tip-a {
    0%   {width: 10%}
    10%  {width: 20%}
    25%  {width: 30%}
    50%  {width: 40%}
    100% {width: 100%}
}
button.tooltip {
	position: relative;
}
button.tooltip::before {
    content: attr(data-tip) ;
    width: 0%;
    font-size: 10px;
    position:absolute;
    z-index: 999;
    white-space:nowrap;
    bottom:9999px;
    right: 50%;
    background:#555;
    color:#fff;
    padding:0px 8px;
    line-height: 24px;
    height: 24px;
    opacity: 0;
    transition:opacity 0.4s ease-out, width 0s ease-out;
    border-radius: 4px;
}
button.tooltip:hover::before {
    opacity: 1;
    bottom:-35px;
    width: inherit;
}

/* search bar */
input,
button {
  outline: none;
}
::-ms-clear {
    display: none;
}
.search-box .search-bar-mask {
  top: 0;
  background-color: #87CEEB;
  height: 38px;
  position: absolute;
  width: 100%;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}
.search-box .show-mask {
  z-index: 2;
  opacity: 1;
}
.screen-mask{
  position: fixed;
  top: 38px;
  display: none;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.1;
  z-index: 10;
  transition: opacity 0.8s ease-in-out;
}
.screen-mask.show{
  display: block;
}
.search-bar{
  top: 0;
  width: 100%;
  position: absolute;
  height: 38px;
  background-color: #87CEEB;
  opacity: 0;
  z-index: 0;
  transition: opacity 0.5s ease-in-out 0.4s;
}
.search-control-box {
    display: block;
    position: relative;
    vertical-align: top;
    background-color: #539db8;
    width: 64px;
    height: 34px;
    padding: 2px;
    border: none;
    border-radius: 3px;
    top: 2px;
    margin: auto;
    transition: width 0.5s ease-in-out 0.4s;
}
.search-control-box .search-control{
  display: inline-block;
  background-color: transparent;
  color: #fff;
  caret-color: #fff;
  vertical-align: top;
  line-height: 30px;
  height: 30px;
  padding-left: 0px;
  width: 0px;
  font-size: 16px;
  border: none;
  position: relative;
  z-index: 2;
  transition: width 0.5s ease-in-out 0.4s;
}
.search-control-box .placeholder{
  position: absolute;
  top: 7px;
  z-index: 1;
  font-size: 14px;
  left: 42px;
  color: #87CEEB;
}
.search-bar.show{
  z-index: 3;
  opacity: 1;
}
.search-bar.show .search-control-box{
  width: 600px;
}
.search-bar.show .search-control{
  width: 520px;
}
.search-control-box .search-btn{
  display: inline-block;
  vertical-align: top;
  height: 30px;
  width: 30px;
  padding: 2px;
}
.search-btn svg,
.search-close-btn svg {
  fill: #87CEEB;
}
.search-bar .search-close-btn{
  right: 2px;
  top: 2px;
  width: 30px;
  height: 30px;
  padding: 2px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
}
.search-bar .search-close-btn:hover svg{
  fill: #000;
}
