/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: move;
}
.container{
  font-size: 0px;
  width: 800px;
  margin: auto;
  margin-top: 100px;
  padding: 0px;
}
.left-panel,
.right-panel{
  vertical-align: top;
  font-size: 14px;
  width: 350px;
  border: 1px solid #ccc;
  display: inline-block;
  min-height: 300px;
  margin: 0px;
}
.divider{
  display: inline-block;
  width: 100px;
}
.list{
  list-style: none;
  margin: 0px;
  padding: 20px;
  width: auto;
  min-height: 300px;
  border: 1px solid #ccc;
}
.list li{
  padding: 5px;
  border: 1px solid transparent;
}
.list li:hover{
  background-color: #ccc;
}
.over{
  border: 1px dashed #ff0000;
  cursor: pointer !important;
}
.over-item{
  border: 1px dashed #ccc !important;
  cursor: copy !important;
}
