/* new look */
[role=button]{
  cursor: pointer;
}
/* Header */
.ad-header{
  display: flex;
  position: fixed;
  width: 100%;
  height: 64px;
  background-color: #f44336;
  color: #fff;
  padding: 0 24px;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
.ad-header .ad-header-item {
  display: inline-block;
  position: relative;
  height: 64px;
  line-height: 64px;
  overflow: hidden;
  font-size: 18px;
  font-weight: 100;
}
.ad-header-item .ad-icon {
  top: 20px;
}

/* Identity */
.ad-header .ad-identity{
  display: inline-block;
  position: relative;
  top: 13px;
  width: 38px;
  height: 38px;
  background-color: #fff;
  border-radius: 50%;
  background-size: 38px;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('../images/face.jpg');
}
.ad-header .pop-arrow-border{
  border-color: transparent;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  display: none;
  position: absolute;
  left: 10.5px;
  z-index: 1;
  height: 0;
  width: 0;
  border-bottom-color: #ccc;
  //border-bottom-color: rgba(0,0,0,.2);
  top: 40px;
}
.ad-header .pop-arrow{
  border-color: transparent;
  border-bottom-color: #fff;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  display: none;
  position: absolute;
  left: 10.5px;
  top: 41px;
  z-index: 1;
  height: 0;
  width: 0;
}
.ad-header .pop{
  background: #fff;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  color: #000;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  display: none;
  outline: none;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 48px;
  border-radius: 2px;
  -webkit-user-select: text;
  width: 321px;
  height: 188px;
  cursor: default;
}
.pop .pop-content{
  margin: 20px;
  display: block;
}
.pop .pop-img{
  display: inline-block;
  position: relative;
  width: 96px;
  height: 96px;
  background-color: #ccc;
  border-radius: 50%;
  background-size: 96px;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('../images/face.jpg');
  margin-right: 20px;
  vertical-align: top;
  border: none;
}
.pop .pop-info{
  font: small arial,sans-serif;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}
.pop-info .pop-name{
  font-weight: bold;
  margin: -4px 0 1px 0;
}
.pop-info .pop-email{
  color: #666;
  white-space: nowrap;
}
.pop-info .pop-list{
  margin-top: 10px;
}
.pop-info .pop-list p{
  font-weight: bold;
  margin-bottom: 0px;
  display: inline-block;
}
.pop-info .pop-list ul{
  list-style: none;
  height: 59px;
  padding-left: 10px;
  overflow: hidden;
  display: inline-block;
  float: right;
  color: #666;
  font-weight: 100;
}
.pop .pop-footer{
  display: table;
  background-color: #f5f5f5;
  border-top: 1px solid #ccc;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 6px 10px;
}
.ad-header-identity.show .pop-arrow-border,
.ad-header-identity.show .pop-arrow,
.ad-header-identity.show .pop{
  display: block;
}

.ad-header .ad-header-search{
  display: inline-block;
  margin-left: auto;
  margin-right: 15px;
  padding-bottom: 0px;
}
.ad-header-search .search-container{
  width: 28px;
  display: block;
  height: 36px;
  border-radius: 5px;
  position: relative;
  transition: all 0.4s ease-in-out;
  bottom: -2px;
}
.ad-header-search .search-container-show{
  width: 250px;
  background: #ff7960;
}

.search-container .search-btn{
  height: 28px;
  width: 28px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.search-container .search-control{
  display: none;
  border: none;
  height: 28px;
  margin-top: 4px;
  margin-left: 8px;
  width: 206px;
  color: #fff;
  background-color: transparent;
  font-size: 14px;
}
.search-container-show .search-control{
  display: inline-block;
}

.nav-menu{
  //display: none;
  width: 0px;
  border-right: 1px solid #ccc;
  position: fixed;
  min-height: 100%;
  padding: 20px;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  background-color: #fff;
  overflow-y: auto;
  z-index: 20;
  transition: all 0.4s ease-in-out;
}
.nav-menu.show{
  display: block;
  width: 256px;
  padding-left: 20px;
  padding-right: 20px;
}
.nav-menu .logo{
  border-bottom: 1px solid #ccc;
  height: 60px;
  margin-top: -20px;
  margin-left: -20px;
  width: 256px;
}
.logo span{
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 20px;
  font-weight: 700;
  display: inline-block;
  position: relative;
  top: 23px;
}
.nav-menu dt{
  padding-bottom: 15px;
  font-weight: 700;
  cursor: pointer;
}
.nav-menu dd{
  padding-left: 25px;
  padding-bottom: 10px;
}
.nav-menu dd .active,
.nav-menu dd .active:hover{
  color: #f44336;
  cursor: default;
}
.nav-menu dd a{
  font-weight: 400;
  color: #777;
  text-decoration: none;
}
.nav-menu dd a:hover{
  color: #444;
}
.nav-menu dl{
  margin-bottom: 0px;
  margin-top: 0px;
}
.nav-menu dl:first-child{
  margin-top: 15px;
}
.nav-menu .nav-list{
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.4,0,0.2,1);

}
.nav-list.show{
  max-height: 500px;
  opacity: 1;
  transition: all 1s cubic-bezier(0.4,0,0.2,1);
}
.nav-menu-mask{
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: 10;
}
.nav-menu-mask.show{
  display: block;
}

.btn{
  color: #666;
  font-size: 13px;
  height: 32px;
  text-transform: uppercase;
  padding: 0px;
  line-height: 0px;
  border: none;
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: transparent;
  outline: none;
}
.btn:hover{
  color: #333;
  background-color: #ddd;
}
.btn.right{
  float: right;
}

/* Utility classes */
.ad-icon {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.ad-icon svg {
  fill: #fff;
}
.ad-pale svg {
    fill: #ff7961;
}
.ad-righ-24 {
  padding-right: 24px;
}
