html{
  font-family: 'Roboto', sans-serif;
}
body{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  box-sizing: inherit;
}
[role=button]{
  cursor: pointer;
}
.ad-header {
  position: absolute;
  width: 100%;
  height:38px;
  top: 0px;
  padding-left: 24px;
  padding-right: 24px;
  line-height: 38px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  background-color: #87ceeb;
}

/* -- actual content of the site -- */
.ad-icon {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.ad-button {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 40px;
  vertical-align: top;
  font-size: 13px;
  line-height: 40px;
  text-transform: uppercase;
  border-radius: 2px;
}
.ad-button:hover{
  background-color: #f9f9f9;
}
.ad-button .ad-icon{
  top: 8px;
  left: 8px;
}
.ad-button-text {
  width: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.ad-button-text .ad-icon{
  left: 0px;
  margin-right: 8px;
}
.ad-chip {
  display: inline-block;
  position: relative;
  height: 32px;
  line-height: 32px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #ccc;
  color: #fff;
  font-size: 16px;
  border-radius: 32px;
}
.ad-chip .ad-button{
  height: 24px;
  width: 24px;
  left: auto;
  right: -8px;
  border-radius: 50%;
  background-color: #555;
}
.ad-chip .ad-icon {
  top: 0px;
  left: 0px;
}
.ad-chip svg {
  fill: #fff;
}
.ad-toolbar {
  display: flex;
  position: relative;
  height: 48px;
  line-height: 48px;
  margin-top: 38px;
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
  overflow-x: hidden;
}
.ad-toolbar .ad-button{
  top: 4px;
}
.ad-filters {
  display: inline-block;
}
.ad-col-256 {
  display: inline-block;
  width: 256px;
  min-width: 256px;
  max-width: 256px;
  height: 100%;
  padding-right: 24px;
  padding-left: 24px;
  border-right: 1px solid #ccc;
}
.ad-col{
  display: inline-block;
  height: 100%;
  padding-right: 24px;
  padding-left: 24px;
}
.ad-content {
  display: flex;
  position: relative;
  border-bottom: 1px solid #ccc;
}
