.ad-rte-wrapper {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}
.ad-rte-toolbar {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
  border-bottom: 1px solid #ccc;
  padding-left: 8px;
  background-color: #f3f3f3;
}
.ad-toolbar-control{
  position: relative;
  height: 24px;
  border: 1px solid transparent;
  background-color: #f3f3f3;
  padding-left: 4px;
  margin-right: 8px;
  font-size: 0.7em;
  max-width: 80px;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
}

.ad-toolbar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 24px;
  width: 24px;
  padding: 0px;
  border: none;
  box-sizing: border-box;
}
.ad-toolbar-button:hover,
.ad-toolbar-control:hover {
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: pointer;
}
.ad-toolbar-button svg {
  height: 16px;
  width: 16px;
}
.ad-rte-etitor {
  display: block;
  width: auto;
  min-height: 100px;
  max-height: 200px;
  padding-left: 24px;
  padding-left: 24px;
  padding-top: 24px;
  outline: none;
  font-size: 14px;
  line-height: 14px;
  overflow: auto;
}
